apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: otel
data:
  otel-collector-config.yaml: |
    receivers:
      otlp:
        protocols:
          http:
            endpoint: "0.0.0.0:4318"

    processors:
      batch:

    exporters:
      file:
        path: /data/knative-metrics.json

    service:
      pipelines:
        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [file]
