apiVersion: apps/v1
kind: Deployment
metadata:
  name: otel-collector
  namespace: otel
spec:
  replicas: 1
  selector:
    matchLabels:
      app: otel-collector
  template:
    metadata:
      labels:
        app: otel-collector
    spec:
      volumes:
        - name: data
          emptyDir: {}
        - name: config
          configMap:
            name: otel-collector-config
      containers:
        - name: otel-collector
          image: otel/opentelemetry-collector:latest
          command: ["/otelcol"]
          args: ["--config=/conf/otel-collector-config.yaml"]
          volumeMounts:
            - name: config
              mountPath: /conf
            - name: data
              mountPath: /data
          ports:
            - containerPort: 4317 # OTLP gRPC
            - containerPort: 4318 # OTLP HTTP
        - name: copier
          image: busybox
          command: ["sleep", "infinity"]
          volumeMounts:
          - name: data
            mountPath: /data

